body {
  font-family: sans-serif;
  text-align: center;
  background-color: #1b1b1b;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0ff;
  border: none;
  border-radius: 6px;
  color: #000;
}

#deck-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 20px;
}
